*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header{
    background-color: #fff8f3;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.logo{
    font-size: 2.5rem;
    font-weight: 800;
}
.logo-r{
    color: #FD6E0A;
}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
    
}

ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
.btn-1{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.btn-2{
    background-color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 10px;
    cursor: pointer;

}
.btn-1:hover{
    background-color: rgb(221, 136, 8);
}
.btn-2:hover{
    background-color: antiquewhite;
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left-p-1{
    font-size: 2.75rem;
    font-weight: 600;
    color: #474747;
}
.hero-left h2{
    font-size: 5.2rem;
    font-weight: 700;
    color: #181818;
    margin-bottom: 15px;
}
.hero-left-p-2{
    font-size: 1.2rem;
    font-weight: 400;
    color: #757575;
    margin-bottom: 15px;
}
.hero-btn{
    display: flex;
    gap: 15px;
}